body {
  background: #f4f6f9;
}

.blog-header {
  height: 40vh;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
              url('https://picsum.photos/1600/700') center/cover;
}

.blog-card {
  border: 2px red;
  border-radius: 12px;
  transition: 0.3s;
}

.blog-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 20px rgba(0,0,0,0.15);
}
.blog-img {
  width: 100%;
  height: auto;
}

/* Small screens */
@media (max-width: 576px) {
  .blog-img {
    width: 120px;
    display: block;
    margin: auto;
  }
}
